venv/
.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
.streamlit/config.toml
.streamlit/secrets.toml
database/placementor.db
database/placementor.db-journal
datasets/*
!datasets/states/
!datasets/all_colleges.json
datasets/states/*
!datasets/states/*.json
models/*.pkl
.env
.DS_Store
*.log
win_libs_do_not_push/
