streamlit
pandas
numpy
scikit-learn
matplotlib
plotly
pycryptodome
pdfplumber
spacy
python-dotenv
Pillow
fpdf2
google-generativeai
beautifulsoup4
requests
lxml
psycopg2-binary
streamlit-autorefresh